>>>direc.vm
#foreach($entry in $user.entrySet())
  key: $entry.key, value: $entry.value
#end
#foreach($key in $user.keySet())
  $velocityCount: $key
#end
#foreach($fav in $user.favorites) 
  $foreach.count: $fav 
  #if ($foreach.count >= 3) 
  	#break 
  #end
#end

##foreach set
 
<ul>
#foreach( $product in $allProducts )
    <li>$product</li>
#end
</ul> 

 
<ul>
#foreach( $key in $allProductsTwo.keySet() )
    <li>Key: $key -> Value: $allProductsTwo.get($key)</li>
#end
</ul>  

##stop

##foreach array
 
<table>
#foreach( $customer in $customerList )
		#if( $foreach.count >2 )
			#break
		#end
    <tr><td>$foreach.count</td><td>$customer.name</td></tr>
#end
</table> 


#foreach( $customer in $customerList )
    $customer.name #if( $foreach.hasNext ), #end
#end

##$foreach.first,$foreach.last not supported
<table>
#foreach( $customer in $customerList )
    <tr>
    	<td>$foreach.index</td>
    	<td>
    	#if($foreach.first)
    	--first--
    	#end
    	#if($foreach.last)
    	--last--
    	#end
    	$customer.name
    	</td>
    </tr>
#end
</table> 
#evaluate('$dataForEval')
#evaluate("$dataForEval")

##escape test
================
#set( $foo = "bar" )
$\!foo
$\!{foo}
$\\!foo
$\\\!foo

\$foo
\$!foo
\$!{foo}
\\$!{foo}

\$foo
\${foo}
\\${foo}
==========================escape specail=========
\#if( $isTrue )
  this is true output
\#end

\\#if( $isTrue )
  this is true output
\\#end

\\\#if( $isTrue )
  this is true output
\\#end
================
##stop


#define($userInfo)
user info:
name: $user.name
github: $user.github
#end
$userInfo


##macro test
#commonMacro('Hello ' $user.name '!')
#commonMacro('Hello ' 'everyone' '!')

#@blockMacro('Hello')
--->bodyContent
Name: $user.name
bodyContent<---
#end

#macro(localMacro, $a)
$a
#end
#localMacro('local macro was called')
#localMacro('local macro was called again')

#set($company = 'alipay.com')
Company: $company

#set($job = "$title in $company")
$job

Date: $date.format($date.year, $date.month, $date.day)
#if ( !$date.weather )
  Cannot get the weather info.
#elseif ($date.weather == 'sunny')
  Today is sunny.
#else 
  Today is not sunny.
#end

#set($more_include_file="more_include.txt")
#include("/plain-text.txt",$more_include_file)

#cmsparse("/cms.vm")

#parse('/uisvr.vm')

direc.vm<<<